html{
    width: 100%;
    height:100%;
}
body{
    width: 100%;
    height: 100%;
    background-image:url(ionic.png);
    background-repeat: no-repeat;
    background-size:300px 300px;
    background-position: right top;
}